body {
    font-size: 15px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.button{
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #fff;
    background-repeat: 4px;
    background-color: #28387A;
}


.header{
    font-weight: 700;
    color: #424551; 
}

.header__logo{
    margin-right: 60px;
}
.logo img{
    width: 150px;
    height: auto;    
}
.header__nav{
    margin-right: auto;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list{
    display: flex;
}

.header__nav-link{
    line-height: 1.6;
}

.header__btn-box{
    display: flex;
    align-items: center;
}

.header__user-nav{
    display: flex;
}

.heaser__nav-item{
    margin-right: 40px;
}
.header__nav-item-child{
    margin-right: 0;
}

/*----------------*/

.car {
    position: relative;
    width: 800px;
    height: 280px;
    top: 100px;
    left: 60vh;
    background: url('skyline.png') no-repeat center/100%;
    cursor: pointer;
}
.car:hover {
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
}
.smoke-container {
    position: absolute;
    top: 225px;
    left: 800px;
}
.smoke {
    position: absolute;
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 50%;
    opacity: 0.5;
    animation: smoke-animation 1s linear infinite;
}

@keyframes smoke-animation {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 0.5;
    }
    50% {
        transform: translate(40px, -40px) scale(1.5); /* Добавляем горизонтальное движение */
        opacity: 0.5;
    }
    100% {
        transform: translate(80px, -80px) scale(2); /* Увеличиваем перемещение в горизонтальном направлении */
        opacity: 0;
    }
}
@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25vw); /* Перемещаем машину за экран */
    }
}

.move-left {
    animation: move-left 5s infinite alternate; /* Включаем анимацию */
}