body {
    background: #000000 url("bg.jpg") no-repeat center;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.button{
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #fff;
    border-radius: 4px;
    background-color: #28387A;
    transition: .3s;
}
.button:hover{
    transform: scale(1.05);
}

.header{
    font-weight: 700;
    color: #424551; 
}

.header__logo{
    margin-right: 60px;
}
.logo img{
    width: 100px;
    height: auto; 
    border-radius: 5px;   
}
.header__nav{
    margin-right: auto;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__nav-list{
    display: flex;
}

.header__nav-link{
    line-height: 1.6;
    white-space: nowrap;
}
.header__nav-link:hover{
    color: blue;
    transition: all .3s;
}
.header__btn-box{
    display: flex;
    align-items: center;
    white-space: nowrap;   
}
.header__top-btn{
    margin-right: 36px;
}
.header__user-nav{
    display: flex;
    
}
.header__user-btn{
    
}
.header__user-btn:hover{
    color: blue;
    transition: all .3s;
}
.header__nav-item{
    margin-right: 40px;
}
.header__nav-item-child{
    margin-right: 0;
}
.title{
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 1px;
    max-width: 500px;
}
.main{
    margin-bottom: 16px;
    font-size: clamp(2rem, 4vw, 3rem);
    justify-content: space-between;
}
/*----------------*/

.car {
    position: relative;
    width: 600px;
    height: 180px;
    top: 100px;
    left: 60vh;
    background: url('skyline.png') no-repeat center/100%;
    cursor: pointer;
}
.car:hover {
    filter: drop-shadow(0 0 20px rgba(0, 64, 255, 0.8));
}
.smoke-container {
    position: absolute;
    top: 170px;
    left: 600px;
}
.smoke {
    position: absolute;
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 50%;
    opacity: 0.5;
    animation: smoke-animation 1s linear infinite;
}

@keyframes smoke-animation {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 0.5;
    }
    50% {
        transform: translate(40px, -40px) scale(1.5); /* Добавляем горизонтальное движение */
        opacity: 0.5;
    }
    100% {
        transform: translate(80px, -80px) scale(2); /* Увеличиваем перемещение в горизонтальном направлении */
        opacity: 0;
    }
}
@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25vw); /* Перемещаем машину за экран */
    }
}

.move-left {
    animation: move-left 5s infinite alternate; /* Включаем анимацию */
}